{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<h2>All Posts</h2>
    <div class="NewPost">
      <h4>New Post</h4>
      <form id="post_form">
        <!--{% csrf_token %}-->
        <textarea name="name" rows="6" id="post_content"></textarea>
        <input type="submit" value="Post">
      </form>
    </div>
    <div class="displayposts">
      {% for post in page_obj %}
        <div class="displaysinglepost">
          {% if request.user.username == post.name.username %}
          <div class="editpost">
            <button type="button" class="editbutton" data-page= {{ post.id }}>Edit</button>
          </div>
          {% endif %}
          <div class="post_user">
            <a class="post_user_username" href="{% url 'users' post.name.username %}" data-user= {{ post.name.id }}><h5>{{post.name.username}}</h5></a>
          </div>
          <p>{{post.content}}</p>
          <p>{{ post.timestamp }}</p>
          <div class="like">
            {% if post in liked_posts %}
            <i class="fas fa-thumbs-up" style="font-size: 21px; color: blue;" data-page= {{ post.id }}></i>
            {% else %}
            <i class="far fa-thumbs-up" style="font-size: 21px;" data-page= {{ post.id }}></i>
            {% endif %}
            <span id="post_likes">{{ post.likes }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

    <script type="text/javascript">

      document.addEventListener('DOMContentLoaded', () => {

        document.querySelectorAll('.post_user_username').forEach(user => {
          user.onclick = () => {
            console.log(`The id is ${user.dataset.user}`);
          }
        });


        document.querySelectorAll('.fa-thumbs-up').forEach(likedicon =>{
          likedicon.onclick = ()=> {
            if(likedicon.style.color == 'blue'){
              console.log("i'm in blue");
              likedicon.style.color = '#212529';
              const id = likedicon.dataset.page;
              fetch('/unlikepost', {
                method: "POST",
                body: JSON.stringify({
                  id: id,
                })
              })
              .then(response => response.json())
              .then(data => console.log(data));
              console.log(`unlike id ${id}`);
              likedicon.classList.remove('fas');
              likedicon.classList.add('far');
              let a = parseInt(likedicon.parentElement.children[1].innerHTML);
              a--;
              console.log(`a value ${a}`);
              likedicon.parentElement.children[1].innerHTML = a;
            }
            else{
              console.log("i'm in none");
              likedicon.style.color = 'blue';
              const id = likedicon.dataset.page;
              fetch('/likepost', {
                method: "POST",
                body: JSON.stringify({
                  id: id,
                })
              })
              .then(response => response.json())
              .then(data => console.log(data));
              console.log(`like id ${id}`);
              likedicon.classList.remove('far');
              likedicon.classList.add('fas');
              let a = parseInt(likedicon.parentElement.children[1].innerHTML);
              a++;
              console.log(`a value ${a}`);
              likedicon.parentElement.children[1].innerHTML = a;
            }
          }
        });

        document.querySelectorAll('.editbutton').forEach(item => {
          item.onclick = () =>{
            console.log(item.dataset.page);
            item.innerHTML = "This is a test";
            const editparent = item.parentElement.parentElement;
            const content = editparent.children[2].innerHTML;
            const username = editparent.children[1].children[0].innerHTML;
            const likes = editparent.children[4].children[1].innerHTML;
            const liked_content = editparent.children[4];
            const timestamp = editparent.children[3].innerHTML;
            console.log("in edit");
            console.log(editparent);
            console.log(liked_content);
            console.log(username);
            console.log(likes);
            console.log(editparent.children[2].innerHTML);
            editparent.classList.remove('NewPost');
            editparent.innerHTML = `
            <div class="editmecontent">
            <h4>Edit Post</h4>
            <div class="editpost">
              <button id="savedittedpost" type="button" class="editbutton" data-page= {{ post.id }}>Save Edited Post</button>
            </div>
            </div>
            <textarea rows="6" style="width: 100%; padding: 10px;" id="savedittedposttext"></textarea>
            `;
            document.querySelector('#savedittedposttext').value = content;

            document.querySelector('#savedittedpost').onclick = () =>{
              const content = document.querySelector('#savedittedposttext').value;
              const id = item.dataset.page;
              console.log(`id: ${id}`);
              console.log(content);
              fetch('/editpost', {
                method: "POST",
                body: JSON.stringify({
                  body:content,
                  id: id,
                }),
              })
              .then(response => response.json())
              .then(data => {
                  console.log(data);
                  console.log(data.date);
                  console.log(username, content, likes, data.date);
                  editparent.innerHTML = `

                    <div class="editpost">
                      <button type="button" class="editbutton" data-page=${id}>Edit</button>
                    </div>
                    <div class="post_user">
                      <h5>${username}</h5>
                    </div>
                    <p>${content}</p>
                    <p>${data.date}</p>
                    <div class="like">
                      <i class="far fa-thumbs-up" style="font-size: 21px;"></i>
                      <span>${likes}</span>
                    </div>

                  `;

              });
            }

          }
        });


        document.querySelector('#post_form').onsubmit = () =>{
          const content = document.querySelector('#post_content').value;
          fetch('/addpost', {
            method: "POST",
            body: JSON.stringify({body:content}),
          })
          .then(response => response.json())
          .then(data => console.log(data));
          for(let i = 0; i < 10000000; i++){

          }
          window.location.replace("http://127.0.0.1:8000/");
          /*
          document.querySelector('#post_content').value = '';
          let count = {{extra_space}};
          if(count < 10){
            const anewpost = `

            <div class="displaysinglepost">
              <div class="post_user">
                <h5>{{post.name.username}}</h5>
                {% if request.user.username == post.name.username %}
                <div class="editpost">
                  <button type="button" class="editbutton">Edit</button>
                </div>
                {% endif %}
              </div>
              <p>{{post.content}}</p>
              <p>{{ post.timestamp }}</p>
              <div class="like">
                <i class="far fa-thumbs-up" style="font-size: 21px;"></i>
                <span>{{ post.likes }}</span>
              </div>
            </div>

            `;
          }*/
          return false;
        }

      });

    </script>
{% endif %}
{% endblock %}
