{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<h2>All Posts</h2>
    <div class="NewPost">
      <h4>New Post</h4>
      <form id="post_form">
        <!--{% csrf_token %}-->
        <textarea name="name" rows="6" id="post_content"></textarea>
        <button type="submit">Post</button>
      </form>
    </div>
    <div class="displayposts">
      {% for post in postings %}
        <div class="displaysinglepost">
          <div class="post_user">
            <h5>{{post.name.username}}</h5>
            {% if request.user.username == post.name.username %}
            <div class="editpost">
              <button type="button" class="editbutton">Edit</button>
            </div>
            {% endif %}
          </div>
          <p>{{post.content}}</p>
          <p>{{ post.timestamp }}</p>
          <div class="like">
            <i class="far fa-thumbs-up" style="font-size: 21px;"></i>
            <span>{{ post.likes }}</span>
          </div>
        </div>
      {% endfor %}
    </div>

    <script type="text/javascript">

      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.fa-thumbs-up').forEach(likedicon =>{
          likedicon.onclick = ()=> {
            if(likedicon.style.color == 'blue'){
              console.log("i'm in blue");
              likedicon.style.color = '#212529';
              likedicon.classList.remove('fas');
              likedicon.classList.add('far');
            }
            else{
              console.log("i'm in none");
              likedicon.style.color = 'blue';
              likedicon.classList.remove('far');
              likedicon.classList.add('fas');
            }
          }
        })

        document.querySelector('#post_form').onsubmit = () =>{
          const content = document.querySelector('#post_content').value;
          console.log(content)
          fetch('/addpost', {
            method: 'POST',
            body: JSON.stringify({
              content: content
            })
          })
          .then(response => response.json())
          .then(result => {
            // Print result
            console.log(result);
          });
          return false;
        }

      });

    </script>
{% endif %}
{% endblock %}
