*{
  box-sizing: border-box;
}

h2{
  margin: 5px;
}

h4{
  margin-left: 2px;
}

.NewPost{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.NewPost textarea{
  display: block;
  width: 100%;
  margin: 5px;
  padding: 5px;
  border-color: #bbb;
}

.NewPost input[type="submit"], .step-links a{
  display: inline-block;
  margin-left: 5px;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 6px 15px;
  color: white;
}

textarea:focus{
  outline: none;
}

.displaysinglepost{
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.like {
  margin: 5px 0 5px 2px;
}

i:hover{
  cursor: pointer;
}

.post_user{
  position: relative;
}

.editpost{
  position: absolute;
  right: 5px;
  top: 2px;
}

.editbutton{
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 2px 24px;
  color: white;
  opacity: 0.9;
}

.editbutton:hover{
  opacity: 1;
}

*:focus{
  outline: none;
}

button:focus{
  outline: none;
}

.step-links a{
  letter-spacing: 0.1em;
}

.pagination{
  margin-bottom: 10px;
}
