*{
  box-sizing: border-box;
}

h2{
  margin: 5px;
}

h4{
  margin-left: 2px;
}

.NewPost{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.NewPost textarea{
  display: block;
  width: 100%;
  margin: 5px;
  padding: 5px;
  border-color: #bbb;
}

.NewPost button{
  display: inline-block;
  margin-left: 5px;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 6px 15px;
  color: white;
}

textarea:focus{
  outline: none;
}

.displaysinglepost{
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.like {
  margin: 5px 0 5px 2px;
}

i:hover{
  cursor: pointer;
}
